@model IEnumerable<Capstone_____Vescio_Pia_Francesca__BE_.Entity.Character>

@{
    ViewData["Title"] = "Tutti i personaggi";
}


<div class="row m-0">
    <div class="col d-flex justify-content-center align-items-center mt-5">

        <h2 class="text-light fs-1">Tutti i personaggi degli utenti</h2>
    </div>

   

    <div class="col-12 mt-3">
        <div class="table-responsive tableStyle">
            <table class="table m-0">
                <thead>
                    <tr class="text-center text-light thStyle fs-5">
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th class="d-none d-md-table-cell">
                                @Html.DisplayNameFor(model => model.Eco)
                            </th>
                           <th class="d-none d-md-table-cell">
                                @Html.DisplayNameFor(model => model.Guild)
                            </th>
                            <th class="d-none d-md-table-cell">
                                @Html.DisplayNameFor(model => model.City)
                            </th>
                            <th class="d-none d-md-table-cell">
                                @Html.DisplayNameFor(model => model.Race)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.User)
                            </th>
                            <th class="d-none d-md-table-cell">
                                @Html.DisplayNameFor(model => model.Score)
                            </th>
                            <th>Azioni</th>
                        </tr>
                    </thead>
                    <tbody>
                @foreach (var item in Model) {
                        <tr class="text-light text-center trStyle fs-6">
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                                @if(item.Eco != null)
                                {
                                    <td  class="d-none d-md-table-cell" >
                                    @Html.DisplayFor(modelItem => item.Eco.Name)
                                    </td>

                                } else
                                {
                                    <td class="d-none d-md-table-cell">Ateo</td>
                                }
                                    @if (item.Guild != null)
                                    {
                                    <td class="d-none d-md-table-cell">
                                            @Html.DisplayFor(modelItem => item.Guild.Name)
                                    </td>

                                    }
                                    else
                                    {
                                    <td class="d-none d-md-table-cell">Nessuna gilda</td>
                                    }
            
                            <td class="d-none d-md-table-cell">
                                    @Html.DisplayFor(modelItem => item.City.Name)
                            </td>
                                <td class="d-none d-md-table-cell">
                                    @Html.DisplayFor(modelItem => item.Race.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.User.FirstName)
                                </td>
                                <td class="d-none d-md-table-cell">
                                    @Html.DisplayFor(modelItem => item.Score)
                                </td>
                                <td>
                                <a class="btn iconStyDetail" asp-action="Detail" asp-route-id="@item.Id"><i class="bi bi-card-text"></i></a>
                            </td>
                        </tr>
                }   
                    </tbody>
            </table>
        </div>
    </div>
</div> 