@model Capstone_____Vescio_Pia_Francesca__BE_.Entity.Nation

@{
    ViewData["Title"] = "Dettaglio Nazione";
}


<h2 class="text-light fs-1 text-center">Dettagli Nazione</h2>

<div class="row mt-4 mx-0">
    <div class="col-md-12 d-flex">
        <div class="card d-sm-flex flex-sm-row">
            <img src="@Url.Action("GetNationImage", "Nation", new { id = Model.Id })"
                 alt="Model.Title" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title text-light">@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h5>
                <p class="card-text text-light">@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</p>
                <p class="card-text text-light">@Html.DisplayNameFor(model => model.FormOfGovernment): @Html.DisplayFor(model => model.FormOfGovernment)</p>
                <p class="card-text text-light">@Html.DisplayNameFor(model => model.Modifier): @Html.DisplayFor(model => model.Modifier)</p>
                <p class="card-text text-light">
                    @Html.DisplayNameFor(model => model.Cities):
                    @if (Model.Cities.Any())
                    {
                        @foreach (var item in Model.Cities)
                        {
                            <li class="list-group-item styleList text-light">
                                <strong>@item.Name</strong>
                            </li>
                        }
                    }
                    else
                    {
                        <li class="list-group-item styleNoList text-light">
                            Nessuna Città disponibile
                        </li>
                    }
                </p>

                <p class="card-text text-light"> @Html.DisplayNameFor(model => model.Ecos):
                    @if (Model.Ecos.Any())
                    {
                        @foreach (var item in Model.Ecos)
                        {
                            <li class="list-group-item styleList text-light">
                                <strong>@item.Name</strong>
                            </li>
                        }
                    }
                    else
                    {
                        <li class="list-group-item styleNoList text-light">
                                Nessun Eco disponibile
                            </li>
                    }
               </p>

                <p class="card-text text-light">
                    @Html.DisplayNameFor(model => model.Guilds):
                    @if (Model.Guilds.Any())
                    {
                        @foreach (var item in Model.Guilds)
                        {
                            <li class="list-group-item styleList text-light">
                                <strong>@item.Name</strong>
                            </li>
                        }
                    }
                    else
                    {
                        <li class="list-group-item styleNoList text-light">
                            Nessuna Gilda disponibile
                        </li>
                    }
                </p>



            </div>
        </div>
    </div>

</div>



<div class="row mt-4 mx-0">
    <div class="col-md-12">
        <a class="btn iconStyWar" asp-action="Edit" asp-route-id="@Model.Id">Modifica</a>
        <a class="btn btnHref" asp-action="AllNations">Torna alla lista</a>
    </div>
</div>
