@model IEnumerable<Capstone_____Vescio_Pia_Francesca__BE_.Models.EventModel>

@{
    ViewData["Title"] = "AllEvents";
}

<h1>AllEvents</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearOfEvent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>@Html.DisplayNameFor(model => model.Influence)</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearOfEvent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Influence)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Modifier)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.Name }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Name }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Name })
            </td>
        </tr>
}
    </tbody>
</table>
