@model IEnumerable<Capstone_____Vescio_Pia_Francesca__BE_.Entity.Eco>

@{
    ViewData["Title"] = "AllEcos";
}

<div class="row m-0">
    <div class="col d-flex justify-content-center align-items-center mt-5">

        <h2 class="text-light fs-1">Tutte gli echi</h2>
    </div>

    <div class="col-12">
        <a asp-action="Create" class="fs-4">Crea un nuovo eco</a>
    </div>

    <div class="col-12 my-3">
        <div class="table-responsive tableStyle">
                <table class="table m-0">
                    <thead>
                    <tr class="text-center text-light thStyle fs-5">
                            <th>
                                @Html.DisplayNameFor(model => model.Pic)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Position)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th class="d-none d-md-table-cell">
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Modifier)
                            </th>
                        <th class="d-none d-md-table-cell">
                                @Html.DisplayNameFor(model => model.Nation)
                            </th>
                            <th>Azioni</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model) {
                                <tr class="text-light text-center trStyle fs-6">
                                    <td>
                                            <img src="@Url.Action("GetEcoImage", "Eco", new { id = item.Id })"
                                                 alt="@item.Name"
                                     class="imgTable" />

                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Position)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td class="d-none d-md-table-cell">
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td class="d-none d-md-table-cell">
                                        @Html.DisplayFor(modelItem => item.Modifier)
                                    </td>
                                    <td>
                                            @if (item.Nation != null) {

                                                <p>@item.Nation.Name</p>
                                            } else
                                            {
                                                <p>Nomade</p>
                                            }
                                        </td>
                                    <td>
                                            <a class="btn iconStyWar" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil"></i></a>
                                            <a class="btn iconStyDetail" asp-action="Detail" asp-route-id="@item.Id"><i class="bi bi-card-text"></i></a>
                                             <a class="btn iconStyDang" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash-fill"></i></a>
                                    </td>
                                </tr>
                        }
                    </tbody>
                </table>
        </div>
    </div>
</div>
