@model Capstone_____Vescio_Pia_Francesca__BE_.Entity.Guild

@{
    ViewData["Title"] = "Dettaglio Gilda";
}

<h2 class="text-light fs-1 text-center pt-2">Dettagli Gilda</h2>

<div class="row mt-4 mx-0">
    <div class="col-md-12 d-flex">
        <div class="card d-sm-flex flex-sm-row">
            <div class="card-body">
                <h5 class="card-title text-light fw-bold fs-5 mb-2">
                    <span class="infoText ">@Html.DisplayNameFor(model => model.Name):</span>
                    @Html.DisplayFor(model => model.Name)
                </h5>
                <p class="card-text text-light fs-5 mb-2">
                    <span class="fw-bold infoText">@Html.DisplayNameFor(model => model.Description):</span>
                    @Html.DisplayFor(model => model.Description)
                </p>
                <p class="card-text text-light fs-5 mb-2">
                    <span class="fw-bold infoText">@Html.DisplayNameFor(model => model.Modifier):</span>
                    @Html.DisplayFor(model => model.Modifier)
                </p>
                <p class="card-text text-light fs-5 mb-2 styleList">
                    <span class="fw-bold infoText">@Html.DisplayNameFor(model => model.Nation):</span>
                    @Html.DisplayFor(model => model.Nation.Name)
            </div>
        </div>
    </div>

</div>



<div class="row mt-4 mx-0">
    <div class="col-md-12">
        <a class="btn iconStyWar" asp-action="Edit" asp-route-id="@Model.Id">Modifica</a>
        <a class="btn btnHref" asp-action="AllGuilds">Torna alla lista</a>
    </div>
</div>
