@model Capstone_____Vescio_Pia_Francesca__BE_.Entity.User

@{
    ViewData["Title"] = "Dettagli Utente";
    var rolesToAdd = ViewBag.Roles;
}


<h2 class="text-light fs-1 text-center">Dettagli Utente</h2>

<div class="row mt-4 mx-0">
    <div class="col-md-12 d-flex">
        <div class="card d-sm-flex flex-sm-row">
            <img src="@Url.Action("GetUserImage", "Auth", new { id = Model.Id })"
                 alt="Model.Title" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title text-light fw-bold fs-5 mb-2">
                    <span class="infoText ">@Html.DisplayNameFor(model => model.FirstName):</span>
                    @Html.DisplayFor(model => model.FirstName)
                </h5>
                <p class="card-text text-light fs-5 mb-2">
                    <span class="fw-bold infoText">@Html.DisplayNameFor(model => model.LastName):</span>
                    @Html.DisplayFor(model => model.LastName)
                </p>
                <p class="card-text text-light fs-5 mb-2">
                    <span class="fw-bold infoText">@Html.DisplayNameFor(model => model.Email):</span>
                    @Html.DisplayFor(model => model.Email)
                </p>
                <p class="card-text text-light fs-5 mb-2">
                    @if(Model.AdminCode != null)
                    {
                        <span class="fw-bold infoText">@Html.DisplayNameFor(model => model.AdminCode):</span>
                        @Html.DisplayFor(model => model.AdminCode)
                    } else
                    {
                        <span>He is a user</span>
                    }
                </p>
                <p class="card-text text-light fs-5 mb-2">
                    <span class="fw-bold infoText">@Html.DisplayNameFor(model => model.Roles):</span>
                    <ul>
                        @foreach (var role in Model.Roles)
                        {
                            <li class="text-light">
                                @role.Name
                                <a asp-action="RemoveRoleToUser"
                                   class="btn btn-danger"
                                   asp-controller="Auth"
                                   asp-route-roleName="@role.Name"
                                   asp-route-userId="@Model.Id">Remove Role</a>
                            </li>

                        }
                    </ul>

                    <ul>

                        @foreach (var role in rolesToAdd)
                        {
                            <li class="text-light">
                                @role
                                <a class="btn btn-success"
                                   asp-action="AddRoleToUser"
                                   asp-controller="Auth"
                                   asp-route-roleName="@role"
                                   asp-route-userId="@Model.Id">Add Role</a>
                            </li>
                        }
                    </ul>
                </p>


            </div>
        </div>
    </div>

</div>



<div class="row mt-4 mx-0">
    <div class="col-md-12">
        <a class="btn btnHref" asp-action="AllUsers">Torna alla lista</a>
    </div>
</div>
