    
@using System.Security.Claims
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Profile";
    var firstNameClaim = User.FindFirst("FirstName")?.Value;
    var lastNameClaim = User.FindFirst("LastName")?.Value;
    var birthDateClaim = User.FindFirst("BirthDate")?.Value;
    var adminCodeClaim = User.FindFirst("AdminCode")?.Value;
    var usernameClaim = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
    var emailClaim = User.FindFirst(ClaimTypes.Email)?.Value;
    
    var idClaimString = User.FindFirst("Id")?.Value;

    int? idClaim = null;
    if (int.TryParse(idClaimString, out int id))
    {
        idClaim = id;
    }
}


<div class="row justify-content-center align-items-center pt-2 mx-0">
    <div class="col-12 col-sm-9 col-md-4 p-0">
        <form asp-action="InsertImage" enctype="multipart/form-data" >

            <div class="form-group">
                <input type="hidden" value="@idClaim" name="id" id="id" />
            </div>
            <div class="form-group mb-3">
                
                <label for="photo" class="control-label labelStyle text-light">Inserisci o Modifica l'immagine</label>
                <input name="photo" id="photo" type="file" class="form-control input" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btnSty" />
            </div>
        </form>
    </div>

</div>
<div class="row mt-4 mx-0">
    <div class="col-md-12 d-flex">
        <div class="card d-sm-flex flex-sm-row">
            @if (idClaim.HasValue)
            {
                <img src="@Url.Action("GetUserImage", "Auth", new { id = @idClaim.Value })"
                     alt="User Image" class="card-img-top">

            }
            <div class="card-body">
                <h5 class="card-title text-light fw-bold fs-5 mb-2">
                    @firstNameClaim @lastNameClaim
                </h5>
                <p class="card-text text-light fs-5 mb-2">
                    @usernameClaim
                </p>
                <p class="card-text text-light fs-5 mb-2">
                    @emailClaim
                </p>
                <p class="card-text text-light fs-5 mb-2">
                    il tuo codice per accedere:<span class="fw-bold">@adminCodeClaim</span>
                </p>


            </div>
        </div>
    </div>

</div>



<div class="row mt-4 mx-0 pb-4">
    <div class="col-md-12">
        <a class="btn btnHref" asp-action="UpdateUser" asp-route-id="@idClaim">Modifica i tuoi dati</a>
    </div>
</div>





