@model Capstone_____Vescio_Pia_Francesca__BE_.Entity.Article

@{
    ViewData["Title"] = "Dettaglio Articolo";
}



<h2 class="text-light fs-1 text-center">Dettagli Articolo</h2>

<div class="row mt-4 mx-0">
    <div class="col-md-12 d-flex">
        <div class="card d-sm-flex flex-sm-row">
            <img src="@Url.Action("GetArticleImage", "Article", new { id = Model.Id })"
                 alt="Model.Title" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title text-light">@Html.DisplayNameFor(model => model.Title): @Html.DisplayFor(model => model.Title)</h5>
                <p class="card-text text-light">@Html.DisplayNameFor(model => model.Content): @Html.DisplayFor(model => model.Content)</p>
                <p class="card-text text-light">@Html.DisplayNameFor(model => model.PublicationDate): @Html.DisplayFor(model => model.PublicationDate)</p>
                <p class="card-text text-light">
                    @Html.DisplayNameFor(model => model.Comments):
                    @if (Model.Comments.Any())
                    {
                        <ul class="list-group list-group-flush">
                            @foreach (var comment in Model.Comments)
                            {
                                <li class="list-group-item styleList text-light">
                                    <strong>@comment.Author?.FirstName:</strong> @comment.Content
                                </li>
                            }
                        </ul>
                    }
                    else
                    {
                        <li class="list-group-item styleNoList text-light">
                            Non ci sono commenti al momento.
                        </li>
                        
                    }
                </p>
            </div>
        </div>
    </div>

</div>



<div class="row mt-4 mx-0">
    <div class="col-md-12">
        <a class="btn iconStyWar" asp-action="Edit" asp-route-id="@Model.Id">Modifica</a>
        <a asp-action="AllArticles" class="btn btnHref">Torna alla lista</a>
    </div>
</div>