@model IEnumerable<Capstone_____Vescio_Pia_Francesca__BE_.Entity.Article>

@{
    ViewData["Title"] = "I miei articoli";
}

<div class="row m-0">
    <div class="col d-flex justify-content-center align-items-center mt-5">

        <h2 class="text-light fs-1">I miei articoli</h2>
    </div>

    <div class="col-12">
        <a asp-action="Create" class="fs-4">Crea un nuovo articolo</a>
    </div>


    <div class="col-12 my-3">
        <div class="table-responsive tableStyle">
            <table class="table m-0">
                <thead>
                    <tr class="text-center text-light thStyle fs-5">
                        <th>
                            @Html.DisplayNameFor(model => model.Image)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Title)
                        </th>
                        <th class="d-none d-md-table-cell">
                            @Html.DisplayNameFor(model => model.Content)
                        </th>
                        <th class="d-none d-md-table-cell">
                            @Html.DisplayNameFor(model => model.PublicationDate)
                        </th>
                        <th>  @Html.DisplayNameFor(model => model.Author)</th>
                        <th>Azioni</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="text-light text-center trStyle fs-6">
                            <td>
                                <img src="@Url.Action("GetArticleImage", "Article", new { id = item.Id })"
                                     alt="@item.Title"
                                     class="imgTable" />
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td class="d-none d-md-table-cell">
                                @Html.DisplayFor(modelItem => item.ShortContent)
                            </td>
                            <td class="d-none d-md-table-cell">
                                @Html.DisplayFor(modelItem => item.PublicationDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Author.FirstName)
                            </td>
                            <td>
                                    <a class="btn iconStyDetail" asp-action="Detail" asp-route-id="@item.Id"><i class="bi bi-card-text"></i></a>
                                    <a class="btn iconStyWar" asp-action="Update" asp-route-id="@item.Id"><i class="bi bi-pencil"></i></a>
                                    <a class="btn iconStyDang" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash-fill"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>